<div [class.selected]="timezone!.isCurrentTimezone" class="timezone_container">
  <p class="fw-800"><input type="text" [(ngModel)]="timezone!.name"></p>
  <p>
    <span *ngIf="timezone!.isCurrentTimezone">Jelenlegi időzóna:</span>
    {{ currentTime | date : "YYYY-MM-dd HH:mm:ss" }}
  </p>
  <div class="button_container">
    <button (click)="getCurrentTimeForTimezone()">Frissítés</button>
    <button
      [disabled]="timezone!.isCurrentTimezone"
      (click)="setCurrentTimezone()"
    >
      Jelenleginek jelöl
    </button>
  </div>
</div>
