<h1>Timezones</h1>

<div class="container">
  <label>Hány időzónát szeretnél kilistázni?</label>
  <div class="controls">
    <select #selectedTimezone *ngIf="timezones.length < this.timezoneLimit">
      <option *ngFor="let element of availableTimezones" [value]="element">
        {{ element }}
      </option>
    </select>
    <button
      *ngIf="timezones.length < this.timezoneLimit"
      (click)="addNewTimezone()"
    >
      Új hozzáadása
    </button>
  </div>
  <app-timezone
    *ngFor="let element of timezones"
    [timezone]="element"
    (changeTimezone)="timezoneChanged($event)"
  ></app-timezone>
</div>
