<div class="content">
  <form [formGroup]="this.dictionaryForm">
    <div class="translation-card">
      <div class="translation-card-header">
        <h2>Translation</h2>
      </div>
      <div class="translation-card-content">
        <div class="translation-input-row">
          <div class="translation-input from">
            <label for="translateFrom"
              >Translate from
              <mat-select
                [value]="this.selectedFromLanguage"
                name="fromLanguage"
                formControlName="languageFrom"
              >
                <mat-option
                  *ngFor="let language of this.languages"
                  [value]="language.code"
                  >{{ language.name }}</mat-option
                >
              </mat-select>
            </label>
            <textarea
              matInput
              id="textFrom"
              formControlName="textFrom"
            ></textarea>
            <ng-container
              *ngIf="
                this.dictionaryForm.controls['textFrom'].invalid &&
                (this.dictionaryForm.controls['textFrom'].dirty ||
                  this.dictionaryForm.controls['textFrom'].touched)
              "
            >
              <span
                class="error-message"
                *ngIf="
                  this.dictionaryForm.controls['textFrom'].errors!['required']
                "
              >
                For translation, enter a text!
              </span>
            </ng-container>
          </div>
          <div class="translation-input to">
            <label for="translateTo"
              >Translate into
              <mat-select
                [value]="this.selectedToLanguage"
                name="fromLanguage"
                formControlName="languageTo"
              >
                <mat-option
                  *ngFor="let language of this.languages"
                  [value]="language.code"
                  >{{ language.name }}</mat-option
                >
              </mat-select>
            </label>
            <textarea
              matInput
              id="textTo"
              readonly
              formControlName="textTo"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="translation-card-actions">
        <button mat-button (click)="this.translate()" [disabled]="this.dictionaryForm.value.textFrom === ''">Translate</button>
        <button mat-button (click)="this.clearForm()">Clear</button>
      </div>
    </div>
  </form>
</div>
