<div class="content">
  <form [formGroup]="this.dictionaryForm" (ngSubmit)="translate()">
    <div class="translation-card">
      <div class="translation-card-header">
        <h2>Translation</h2>
      </div>
      <div class="translation-card-content">
        <div class="translation-input-row">
          <div class="translation-input from">
            <label for="translateFrom"
              >Translate from
              <mat-select
                [value]="this.selectedFromLanguage"
                name="fromLanguage"
                formControlName="languageFrom"
              >
                <mat-option
                  *ngFor="let language of this.languages"
                  [value]="language.code"
                  >{{ language.name }}</mat-option
                >
              </mat-select>
            </label>
            <textarea
              matInput
              id="textFrom"
              formControlName="textFrom"
            ></textarea>
          </div>
          <div class="translation-input to">
            <label for="translateTo"
              >Translate into
              <mat-select
                [value]="this.selectedToLanguage"
                name="fromLanguage"
                formControlName="languageTo"
              >
                <mat-option
                  *ngFor="let language of this.languages"
                  [value]="language.code"
                  >{{ language.name }}</mat-option
                >
              </mat-select>
            </label>
            <textarea
              matInput
              id="textTo"
              readonly
              formControlName="textTo"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="translation-card-actions">
        <button mat-button>Translate</button>
        <button mat-button>Clear</button>
      </div>
    </div>
  </form>
</div>
