<div class="table">
  <div class="thead">
    <div class="tr">
      <div class="th">ID</div>
      <div class="th">Title</div>
      <div class="th">Műveletek</div>
    </div>
  </div>
  <div class="tbody">
    <div *ngFor="let post of posts" class="tr">
      <div class="td id" [routerLink]="['/post-detail', post.id]">{{ post.id }}</div>
      <div class="td title" [routerLink]="['/post-detail', post.id]">{{ post.title }}</div>
      <div class="td">
        <button (click)="deletePost(post.id)">Delete</button>
      </div>
    </div>
  </div>
</div>
